Repository wreckitral/def: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, astro-check

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: mixed-line-ending

  # JavaScript/TypeScript formatting with Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|astro|json|yaml|yml|md|css|scss|html)$
        pass_filenames: true

  # ESLint for JavaScript/TypeScript/Astro
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: \.(js|jsx|ts|tsx|astro)$
        pass_filenames: true

  # Astro check for Astro-specific issues
  - repo: local
    hooks:
      - id: astro-check
        name: Astro Check
        entry: npx astro check
        language: system
        files: \.(astro|ts|tsx|js|jsx)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ["--fix"]

# Configuration
default_stages: [pre-commit]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      dist/.*|
      node_modules/.*|
      \.astro/.*|
      public/.*\.min\.(js|css)$
  )$

build: exclude .astro from lint
  eslint.config.js
Due: prettier, eslint, astro-check

chore: add gitignore
  .gitignore
Due: none

feat: create portofolio astro
  public/favicon.svg
  src/components/About.astro
  src/components/Contact.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Projects.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/scripts/terminal.js
  src/styles/global.css
Due: prettier, eslint, astro-check

build: add the depedency
  .github/workflows/release.yaml
  package-lock.json
  package.json
Due: prettier

fix(Layout): fix the formatting
  src/layouts/Layout.astro
Due: prettier, eslint, astro-check

ci: remove enablement
  .github/workflows/release.yaml
Due: prettier

ci: fix github workflow
  .github/workflows/release.yaml
Due: prettier

ci: fix the release script
  .github/workflows/release.yaml
Due: prettier

ci: fix the link output
  .github/workflows/release.yaml
Due: prettier

feat: add blog page
  astro.config.mjs
  package-lock.json
  package.json
  src/components/Header.astro
  src/content/blog/about-you.md
  src/content/blog/example-post.md
  src/content/config.ts
  src/layouts/BlogLayout.astro
  src/layouts/Layout.astro
  src/pages/blog.astro
  src/pages/blog/[slug].astro
  src/styles/global.css
  tsconfig.json
Due: prettier, eslint, astro-check

fix: fix path
  src/layouts/BlogLayout.astro
  src/pages/blog.astro
Due: prettier, eslint, astro-check

fix: path
  src/components/Header.astro
  src/content/blog/about-you.md
  src/layouts/BlogLayout.astro
  src/pages/blog.astro
Due: prettier, eslint, astro-check

feat: add timeline section
  src/components/Projects.astro
  src/components/Timeline.astro
  src/pages/index.astro
Due: prettier, eslint, astro-check

feat: responsive
  src/components/About.astro
  src/components/Contact.astro
  src/components/Header.astro
  src/components/Projects.astro
  src/components/Timeline.astro
  src/styles/global.css
Due: prettier, eslint, astro-check

fix: fix the terminal in mobile
  src/styles/global.css
Due: prettier

feat: add a blog
  src/content/blog/how-i-choose-the-language-to-marry.md
  src/pages/blog.astro
Due: prettier, eslint, astro-check

feat: add a blog
  src/content/blog/cuda-basics.md
  src/content/blog/how-i-host-for-free.md
Due: prettier

fix: fix date
  src/content/blog/how-i-host-for-free.md
Due: prettier

fix: fix format md
  src/content/blog/how-i-host-for-free.md
Due: prettier

ci: dockerfile
  .dockerignore
  Dockerfile
  astro.config.mjs
  nginx.conf
  src/components/Header.astro
  src/layouts/BlogLayout.astro
  src/pages/blog.astro
Due: prettier, eslint, astro-check
